
.sidebar_container{
    display: flex;
  }
  
  .sidebar_container .css-dip3t8{
    width: 100%;
    background: var(--global-sidebar);
  }
  
  .main_sidebar{
    height: 130vh;
    color: white
  }
  
  .sidebar_section_title{
    padding: 1.5rem;
    text-align: center;
    font-family: var(--main-font);
  } 

    