.sidebar_container {
  display: flex;
  width: 13%;
}

.sidebar_container .css-dip3t8 {
  width: 100%;
  background: var(--global-sidebar);
}

.main_sidebar {
  height: 280vh;
  color: white;
}

.sidebar_section_title {
  padding: 1.5rem;
  text-align: center;
  font-family: var(--main-font);
}

.compliance_chat_container {
  display: flex;
}
