
  .custom_input_container {
    margin-top: 20px;
  }
  
  .custom_input{
    display: flex;
    padding: .5rem;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    border-left: 6px solid var(--sub-primary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .custom_input_icon_container {
    padding: 2px;
    padding-right: 10px;
    border-right: 2px solid var(--global-grey);
  }
  
  .input_container {
    margin-left: .5rem;
    background-color: #fff;
    outline: none;
    border: none;
    font-family: var(--main-font);
    font-size: 15px;
    color: var(--global-grey);
    width: 400px;
  }