:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Variables */
  --main-font: "Plus Jakarta Sans", sans-serif;
  --primary-color: #3355FF;
  --secondary-color: #FFD06C;
  --tertiary-color: #B99470;
  --global-red: #CF3438;
  --global-purple: #8D4BFA;
  --global-blue: #5E60CD
  --global-dark-blue: #343957;
}

body{
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
