:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Variables */
  --main-font: "Plus Jakarta Sans", sans-serif;
  --primary-color: #3355FF;
  --sub-primary-color: #0339A4;
  --secondary-color: #FFD06C;
  --tertiary-color: #B99470;
  --global-red: #CF3438;
  --global-purple: #8D4BFA;
  --global-blue: #5E60CD
  --global-dark-blue: #343957;
  --global-grey: #898989;
  --global-icon: #B0B3C2;
  --global-sidebar: #343957
}

body{
  margin: 0;
  padding: 0;
}

.css-dip3t8{
  background-color:var(--global-sidebar);
}



@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
